<div class="page-header">
  <h1>Lecture #<%= @lecture.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Lecture url</dt>
  <dd><%= @lecture.lecture_url %></dd>

  <dt>Caption</dt>
  <dd><%= @lecture.caption %></dd>

  <dt>Lecture number</dt>
  <dd><%= @lecture.lecture_number %></dd>

  <dt>Lecture name</dt>
  <dd><%= @lecture.lecture_name %></dd>

  <dt>File type</dt>
  <dd><%= @lecture.file_type %></dd>

  <dt>Subject number</dt>
  <dd><%= @lecture.subject_number %></dd>

  <dt>Subject name</dt>
  <dd><%= @lecture.subject_name %></dd>

</dl>
