<div class="page-header">
  <h1>Enrollment #<%= @enrollment.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Lesson</dt>
  <dd><%= @enrollment.lesson_id %></dd>

  <dt>Subject</dt>
  <dd><%= @enrollment.subject_id %></dd>

  <dt>User name</dt>
  <dd><%= @enrollment.user_name %></dd>

  <dt>Subject number</dt>
  <dd><%= @enrollment.subject_number %></dd>

</dl>
