<div class="page-header">
  <h1>Course #<%= @course.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Course url</dt>
  <dd><%= @course.course_url %></dd>

  <dt>Caption</dt>
  <dd><%= @course.caption %></dd>

  <dt>Course number</dt>
  <dd><%= @course.course_number %></dd>

  <dt>Course name</dt>
  <dd><%= @course.course_name %></dd>

  <dt>File type</dt>
  <dd><%= @course.file_type %></dd>

  <dt>Subject number</dt>
  <dd><%= @course.subject_number %></dd>

</dl>
